
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Navbar{

    display: flex;
    justify-content: space-evenly;
     padding: 2rem 1em;
    background-color: aliceblue;
    width: 100%;
}

@media (max-width : 500px){
    #Navbar{
        flex-direction: column;
        /* gap: 0.5rem; */
        align-items: center;
    }

    #tableID{
        width: 90%;  
    }

    


}




#Navbar a{

    text-decoration: none;
    color: teal;
    font-size: 30px;

}

input, select{

    display: block;
    margin: 20px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

#formBox{
    width : 400px;
    margin : 100px auto;
    border: 1px solid rgb(230, 230, 230);
}

#Submitbutton{

    color: White;
    background-color: black;
    width: 60%;
    margin: auto;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

table, td, th{

    border: 1px solid #ddd;
    
}

table{
    border-collapse: collapse;
    text-align: left;
    margin:  auto;
    margin-top: 50px;
}

td, th{
    padding: 15px;
}

tr>th{

    color: white;
    background-color: teal;
}

#Filter{

    display:  flex;
    justify-content: space-around;

}

